<mat-card>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="email">
    <mat-icon matSuffix>mail</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password" [(ngModel)]="password">
    <mat-icon matSuffix>lock</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <div>
    <button mat-raised-button (click)="signUp()">Sign Up</button>
  </div>
  <div>
    <button mat-raised-button (click)="signIn()">Sign In</button>
  </div>
</mat-card>
<div>
  <button mat-raised-button (click)="signInWithGoogle()">Sign Up with Google</button>
</div>

